@model User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "AddUser";
}

<h2>AddUser</h2>

<form asp-action="AddUser" method="post">
    <div class="form-group">
        <label asp-for="username" class="control-label"></label>
        <input asp-for="username" class="form-control" />
        <span asp-validation-for="username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="password" class="control-label"></label>
        <input asp-for="password" class="form-control" />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
 </form>

